<div>

  

 
  
  <div class="parent-prescription">

    <% @prescriptions.reverse.each do |p| %>
      <div class='prescription'>
        <ul>
          <% binding.pry %>
          <div class="btn btn-lg drugs-div"><%= link_to p.drug.name, prescription_path(p), class: "drugs-link" %></div>
         
        </ul>
      </div>
    <% end %>

  </div>
</div>