<div class="container-fluid" id="my-rx-container">
  <div class="row">
    <div class="prescriptions-div" id="active-prescriptions">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="my-rx-header">Active Prescriptions</h1>
      </div>
    </div>
    <div class="prescriptions-div" id="inactive-prescriptions">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="my-rx-header">Inactive Prescriptions</h1>
      </div>
    </div>
  </div>
</div>
<!-- add modal 
add the form-->

