<html>
<head>
  <title></title>
</head>
<body>
  <br>
  <div>
    <% if @prescription.user == current_user %>
    <%= render "prescription_detail" %>
    <% else %>
      Oops! You navigated to a prescription that isnt yours...
    <% end %>




    
  </div>
</body>
</html>