<div class='container-fluid'>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Sunday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Monday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Tuesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Wednesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Thursday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Friday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Saturday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Monday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Tuesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Wednesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Thursday</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Friday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Saturday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Sunday</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
</div>
<!-- <div class='days-of-the-week-container'>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
</div> -->