<div class='days-of-the-week-container'>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
</div>