<div class='container-fluid'>
  <div class='pillbox-container'>
    <div class="row pillbox-row">
      <div class="col-md-1"></div>
      <div class="col-md-2 pillbox-cell pillbox-cell-head">Sunday</div>
      <div class="col-md-2 pillbox-cell pillbox-cell-morning">
        <% @user.drugs_by_time_of_day('morning').each do |drug| %>
        <%= drug.name %>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-afternoon">
        <% @user.drugs_by_time_of_day('afternoon').each do |drug| %>
        <%= drug.name %>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-evening">
        <% @user.drugs_by_time_of_day('evening').each do |drug| %>
        <%= drug.name %>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-bedtime">
        <% @user.drugs_by_time_of_day('bedtime').each do |drug| %>
        <%= drug.name %>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>