/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/** {
  border: 1px dashed blue;
}
*/
body {
  padding-top: 70px;
}

.btn.btn-default.navbar-btn {
  margin-left: 10px;
}

.pillbox-row {
  margin-top: 8px;
}

.pillbox-cell {
  height: 120px;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin-left: 1px;
}

.pillbox-cell-head {
  background-color: #F7E4BE;
  color: #607D8B;
  font-size: 1.5em;
  line-height: 95px;
}

/*.pillbox-head-morning {
  font-size: 1.5em;
  text-align: center;
  color: #F0B49E;
}

.pillbox-head-afternoon {
  font-size: 1.5em;
  text-align: center;
  color: #B38184;
}

.pillbox-head-evening {
  font-size: 1.5em;
  text-align: center;
  color: #73626E;
}

.pillbox-head-bedtime {
  font-size: 1.5em;
  text-align: center;
  color: #413E4A;
}*/

.pillbox-cell-morning {
  background-color: #F0B49E;
}

.pillbox-cell-afternoon {
  background-color: #B38184;
}

.pillbox-cell-evening {
  background-color: #73626E;
}

.pillbox-cell-bedtime {
  background-color: #413E4A;
}

.prescription {
  padding-bottom: 3px;
}

.ul-header {
  margin-left: -17px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}