/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 70px; }

.prescription {
  padding-bottom: 3px;
}

.ul-header {
  margin-left: -17px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

.days-of-the-week-container {
  margin-top: 100px;
  justify-content: center;
  display: flex;
}

.day-of-the-week {
  border: 1px solid gray;
  width: 150px;
  height: 250px;
}