body {
  cursor: default;
  background-color: #525252 !important;
}

.pillbox-container {
  padding-top: 90px;
  padding-bottom: 60px;
}

.row {
  padding-left: 40px;
  padding-right: 40px;
}

.warning-headline {
  
  color: #616161;
}

.warning-icon-container {
  display: inline;
}

.warning-icon {
  padding-left: 3%;
  zoom: 4%;
}

.morning-icon {
  zoom: 10%;
}

.afternoon-icon {
  zoom: 10%;
}

.evening-icon {
  zoom: 11.5%;
}

.bedtime-icon {
  zoom: 9%;
}

.icon-container {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0px;
}

.pillbox-cell-icon-container {
  height: 20px;
}

.background {
  background: url('background.jpg');
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-attachment: fixed;
  background-position: center center;
}

#form-container {
  display: inline-block;
  text-align: left;
  padding-top: 150px;
}

.navbar-brand {

}

#centered-form-container {
  margin: 0px auto;
  text-align: center;
}

.table-data {
  color: #FFFFFF;
}

.logo {
  margin-left: -80px;
  padding-right: 50px;
  padding-top: 40px;
  zoom: 30%;
}

input.btn.btn-primary-outline {
  background-color: #406f97;
  font-size: 1em;
}

input {
}

a {
  font-size: 1.3em;
}

.pillbox-row {
  margin-top: 1px;
}

.pillbox-cell {
  height: 320px;
  color: #FFFFFF;
  padding: 10px;
  font-size: 1.4em;
  /*border: 2px #e6e9ee solid;*/
  border: 2px #525252 solid;
  padding-left: 50px;
  /*text-shadow: 0px 0px 1px rgba(90, 90, 90, .5);*/
}

.navbar {
  /*font-size: 20px;*/
}

.pillbox-cell-head {
  color: #EEEEEE;
  font-size: 2em;
  padding: 10px;
  background-color: #757575;
}

.pillbox-cell-morning {
  background-color: #F8B195;
}

.pillbox-cell-afternoon {
  background-color: #F67280;
}

.pillbox-cell-evening {
  background-color: #C06C84;
}

.pillbox-cell-bedtime {
  background-color: #6C5B7B;
}

.prescription {
  padding-bottom: 3px;
}

.ul-header {
  margin-left: -17px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

#home-jumbotron {
  background-color: transparent;
  margin-top: 140px;
  color: #e7e7e7
}

.drugs-link {
  text-decoration: none;
}

.drugs-link:hover {
  text-decoration: none;
}


/***************************/
/*    prescription index   */
/***************************/

.drugs-div {
  /*border: 1px solid red;*/
}

.parent-prescription {
  /*border: 1px solid blue;*/
  margin: 30px; 
}
.warning-message {
  position: absolute;
  background: rgba(255, 255, 255, .98);
  /*margin-top: -130px;*/
  color: #9E9E9E;
  /*border: 1px solid #FFFFFF;*/
  margin-top: -150px;
  padding: 20px;
  opacity: 50%;
  width: 300px;
  overflow: scroll;
  /*top: -5px;*/
  /*bottom: 165px;*/
  /*left: 129px;*/
  /*opacity: 0;*/
  display: none;
  z-index: 100;
}

/*.hidden {
  display: none;
}
*/
#new-prescription-btn {
  margin-top: 100px;
}

.prescription {
  background-color: white;
}
#prescriptions {
  margin-top: 90px;
}

.drug-row {
  margin-bottom: 10px;
}

.collapsed {
  background-color: red;
}

/*********************************/
/* expiring prescriptions table */
/********************************/

#refill-msgs {
  color: white;
}

#exp-soon-header {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 5px;
}

#exp-soon-table {
  font-size: 1.4em;
}

#exp-soon-table form {
  width: 110px;
}

#exp-soon-table .btn {
  background-color: transparent;
  border: 1px solid #fff;
}

#exp-soon-table .btn:hover {
  background-color: #fff;
  color: #525252;
}

/* end exp prescription table */

.prescription h2 {
  color: #406f97;
}

.prescription small {
  color: 616161;
}

.prescription p {
  color: #616161;
}
